#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navegacao {
  display: flex;
  gap: 0.1rem;
  margin-top: 1rem;
  justify-content: space-between;
  & > input {
    visibility: hidden;
  }
  & > label {
    width: 30%;
    background-color: #1f1f1f;
    color: #f0f0f0;
    border-radius: 10px;
    padding: 0.5rem 0;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
      background-color: #4a4003;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .2s ease-in-out;
    }
  }
}

input:checked + label {
  background-image: linear-gradient(to right, #eac019, #f3c613, #efc310, #e2b916);
  color: #635504;
 
}


.container-item-cardapio {
  display: flex;
  width: 32rem;
  padding: 1rem;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
  & > img {
    height: 11rem;
  }
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 60%;
    flex-grow: 0;

    & > h2 {
      font-weight: 600;
    }
  }
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.02);
  }
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-between;
  margin-top: 50px;
}

.capa {
  max-height: 15rem;
  width: 100%;
  object-fit: cover;
}
